<div class="card-container">
  <mat-card class="card">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          @if (!isMobile) {
          }
          <mat-card-title>
            <mat-panel-title>
              <span class="name">
                <b>{{ report.author.last_name }}</b
                >, {{ report.author.first_name }}
              </span>
              <span class="mail"> {{ report.author.email }}</span>
            </mat-panel-title>
          </mat-card-title>
          <mat-card-subtitle>
            <mat-panel-description>
              <span class="sex-age"
                >{{ report.author.sex }} @if(report) {- {{ age }}}</span
              >
            </mat-panel-description></mat-card-subtitle
          >
        </mat-card-header>
      </mat-expansion-panel-header>

      <mat-card-content>
        <section>
          <h2>Observations</h2>
          <mat-chip-listbox multiple="true" aria-label="Observations">
            @for (observation of allObservations; track observation.id) {
            <mat-chip-option
              color="primary"
              selectable="false"
              [selected]="belongsToCurrentObservations(observation)"
              [disabled]="!belongsToCurrentObservations(observation)"
            >
              {{ observation.name }}
            </mat-chip-option>

            }
          </mat-chip-listbox>
        </section>
        <section>
          <h2>Description</h2>

          <p>
            {{ report.description }}
          </p>
        </section>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-button (click)="openEditDialog()">
          Edit
        </button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-card>
</div>
