<div class="card-container">
  <mat-card class="card">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <mat-panel-title>
              <b>{{ report.author.last_name }}</b
              >, {{ report.author.first_name }} -
              {{ report.author.sex }} @if(report) {- {{ age }}}</mat-panel-title
            >
          </mat-card-title>
          <mat-card-subtitle>
            <mat-panel-description>{{
              report.author.email
            }}</mat-panel-description></mat-card-subtitle
          >
        </mat-card-header>
      </mat-expansion-panel-header>

      <mat-card-content>
        <h2>Observations</h2>
        <mat-chip-listbox multiple="true" aria-label="Observations">
          @for (observation of allObservations; track observation.id) {
          <mat-chip-option
            selectable="false"
            [selected]="belongsToCurrentObservations(observation)"
          >
            {{ observation.name }}
          </mat-chip-option>

          }
        </mat-chip-listbox>

        <h2>Description</h2>

        <p>
          {{ report.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openEditDialog()">Edit</button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-card>
</div>
